*{
	font-family:'Open Sans';
}
.text-center img {
  display: inline-block;
}
.shadow {
	-webkit-box-shadow: 0px 0px 5px 2px rgba(190,187,187,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(190,187,187,1);
	box-shadow: 0px 0px 5px 2px rgba(190,187,187,1);
	padding: 5px;
}
header .mobile-header {
  display: none;
}
header .search-panel {
  display: none;
}
header .mobile-drop-down {
  display: none;
}
header .header-top .header-top-serach {
  padding: 20px 0;
}
header .header-top .header-top-serach .search-holder {
  margin-top: 17px;
  text-align: right;
	margin-right: 20px;
}
/*header .header-top .header-top-serach .search-holder input {
	background:url(img/icons/search.png) no-repeat scroll 95% center;
	padding-right:50px;
}*/
header .header-top .mainmenu .navbar {
  margin-bottom: 0;
}
header .header-top .mainmenu {
  background-color: #2B200F;
  border-bottom:0px solid #fff;
}
header .header-top .mainmenu .nav.navbar-nav a {
  border-bottom: 3px solid transparent;
  color: #fff;
  font-size: 15px;
  padding: 20px 0;
  text-transform: uppercase;
}
header .header-top .mainmenu .nav.navbar-nav li {
	padding: 0px 60px;
}
header .header-top .mainmenu .nav.navbar-nav a.active,
header .header-top .mainmenu .nav.navbar-nav a:hover,
header .header-top .mainmenu .nav.navbar-nav a:focus {
	border-bottom:3px solid #f6b629;
	background: none;
}
header .header-bottom {
  position: relative;
}
header .header-bottom img {
	width: 100%;
}
header .header-bottom .sign-up-form {
  background-color: #f9f7f7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  width:25%;
  height: 100%;
  padding: 5% 2%;
}
header .header-bottom .sign-up-form .sign-up-heading h3 {
  color: #242424;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase;
}
header .header-bottom .sign-up-form input.form-control {
  border-radius: 0;
  height: 40px;
}
.btn.form-btn {
  background-color: #ffa500;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  padding: 13px 0;
  text-transform: uppercase;
  width: 100%;
}
header .header-bottom .sign-up-form .sign-up-text {
	text-align: center;
	margin-top: 20px;
}
header .header-bottom .sign-up-form .sign-up-text a {
  color: #9d9d9d;
  font-size: 12px;
}
.holder .how-holder {
  background-color: #a2b9cb;
  padding: 40px 0 0;
}
.holder .how-holder .how-wrapper {
  background: rgba(0, 0, 0, 0) url("../img/others/how-border.png") no-repeat scroll 0 0 / 100% auto;
}
.holder .how-holder .how-box {
  padding-top: 50px;
}
.holder .how-holder .how-heading h3 {
  color: #fff;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
.holder .how-holder .how-img.text-center {
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
}
.holder .how-holder .how-content {
  padding: 20px 20px 30px;
}
.holder .how-holder .how-content h5 {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.holder .how-holder .how-content p {
  color: #fff;
  font-size: 16px;
}
.holder .video-holder {
  padding: 15px 0;
}
.holder .video-holder .video-contents  {
	padding-top: 20px;
}
.holder .video-holder .video-contents h3 {
  color: #1b1b1b;
  font-size: 30px;
  text-transform: uppercase;
}
.holder .video-holder .video-contents p {
  color: #535353;
  font-size: 15px;
  line-height: 1.8;
}
.holder .video-holder .video-contents a {
  color: #535353;
  font-size: 17px;
  text-decoration: none;
}
.holder .video-holder .video-contents a i {
  color: #ffa600;
  padding-right: 10px;
}
.holder .testimonial-holder {
  background-color: #f8f8f8;
  padding: 50px 0;
  position: relative;
}
.holder .testimonial-holder .test-heading.text-center h3 {
  color: #181818;
  font-size: 32px;
  text-transform: uppercase;
}
.holder .testimonial-holder .test-slider {
  padding: 60px 0px 40px;
}
.holder .testimonial-holder .owl-nav {
  display: none;
}
.holder .testimonial-holder .test-slider .test-contents p {
  color: #616161;
  font-size: 18px;
  line-height: 1.8;
  position:relative;
  padding-left: 20px;
}
.holder .testimonial-holder .test-slider .test-contents p::before {
	content:"";
	/*background:url(img/others/open-quote.png) no-repeat scroll 0 0;*/
	position: absolute;
	top:0;
	left:0;
	width: 14px;
	height:10px;
}
.holder .testimonial-holder .test-slider .test-contents p::after {
	content:"";
/*	background:url(img/others/close-quote.png) no-repeat scroll 0 0;
*/	position: absolute;
	bottom:0;
	right:0;
	width: 14px;
	height:10px;
}
.holder .testimonial-holder .test-slider .test-contents h5 {
  color: #1f3742;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 20px;
}
footer {
  background: url('../img/others/footer-bg.jpg') no-repeat scroll 0 0;
  background-size: cover;
}
footer .footer-top {
  border-bottom: 2px solid #2d2d2d;
  padding: 40px 0 30px;
}
footer .footer-top .foot-social {
  padding-top: 40px;
}
footer .footer-top .foot-list ul {
	margin: 0px;
}
footer .footer-top .foot-list ul li {
	padding-bottom: 20px;
}
footer .footer-top .foot-list ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
footer .footer-top .foot-list ul li a i {
	padding-right:10px;
}
footer .footer-top .foot-social ul li a i {
	color: #fff;
}
footer .footer-bottom {
  padding: 20px 0;
}
footer .footer-bottom.text-center p {
  color: #fff;
  font-size: 13px;
  margin: 0;
}


/*INNER PAGE*/

.inner-holder p {
  color: #7b7b7b;
  font-size: 15px;
  line-height: 1.8;
}
.inner-heading h3 {
	color: #1b1b1b;
	font-size: 34px;
	text-transform: uppercase;
}

/*ABOUT*/
.about-holder {
  padding: 40px 0 80px;
}
.about-holder .about-video-wrapper {
	padding-top: 0px;
}
.about-holder .about-video-contents p {
	text-align: justify;
}
/*CONTACT*/
.contact-holder {
  padding: 50px 0;
}
.contact-holder .contact-form-heading h5 {
  color: #676767;
  font-size: 20px;
}
.contact-holder .contact-form {
  background-color: #fafafa;
  border: 2px solid #ededed;
  padding: 30px;
  margin-top: 20px;
}
.contact-holder .contact-content-wrapper {
	margin-top: 40px;
}
.contact-holder .contact-form-wrapper .contact-form .form-group label {
  color: #1b1b1b;
  font-size: 18px;
  font-weight:normal;
}
.contact-holder .contact-form-wrapper .contact-form .form-group input.form-control {
  border-radius: 0;
  height: 45px;
}
.yellow-btn {
  padding: 10px 40px;
  background-color: #ffa500;
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.contact-holder .contact-form-contents h5 {
  color: #535353;
  font-size: 18px;
}
.holder .contact-holder .contact-list {
	padding: 20px 0px;
}
.holder .contact-holder .contact-list ul li {
	padding-bottom: 10px;
}
.holder .contact-holder .contact-list ul li a {
  color: #535353;
  font-size: 17px;
  text-decoration: none;
}
.holder .contact-holder .contact-list ul li a i {
  color: #ffa600;
  padding-right: 10px;
}

/*SIGNIN*/
.signin-holder, .signup-holder {
  padding: 50px 0;
}
.social-media h5 {
  color: #1b1b1b;
  font-size: 24px;
  text-transform: uppercase;
}
.social-list {
  padding: 20px 0;
}
.social-list ul {
	margin: 0px;
}
.sign-contents {
  margin: 0 auto;
  width: 35%;
  background-color: #fafafa;
  border: 2px solid #ededed;
  padding:50px 40px;
  margin-top: 40px;
}
.sign-contents .form-group label {
  color: #1b1b1b;
  font-size: 18px;
  font-weight:normal;
}
.sign-contents .form-group input.form-control {
  border-radius: 0;
  height: 45px;
}
.btn.signup-btn {
  background-color: #eaeaea;
  border-radius: 0;
  color: #000;
  font-size: 18px;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid #ccc;
}
.signin-forn-butn {
	padding: 20px 0px;
	text-align:center;
}
.signin-forn-butn span {
	font-size: 22px;
	color:#3d3d3d;
	margin: 0px 10px;
}
.signin-holder .signin-form .forgot-pwd {
	margin-top: 15px;
	text-align: center;
}
.signin-holder .signin-form .forgot-pwd a {
	text-decoration: none;
	font-size:17px;
	color:#3d3d3d;
}

/*SUPPORT*/
.no-padding {
	padding: 0px;
}
.support-holder {
	padding: 50px 0px;
}
.support-heading.inner-heading.text-center {
	padding-bottom: 20px;
	border-bottom: 1px solid #d4d4d4;
}
.support-holder .support-search {
	margin: 20px 0px;
}
.support-holder .support-search input.form-control {
  border-radius: 0;
  height: 55px;
  background:url(img/icons/search.png) no-repeat scroll 98% center;
  padding-right: 50px;
}
.support-holder .support-search input.form-control::-moz-placeholder {
	color: #3d3d3d;
}
.sort-btn {
	text-align: right;
}
.sort-btn #dropdownMenu1 {
	border-radius: 0px;
	padding: 10px 25px;
}
.tab-contents {
	border: 1px solid #d4d4d4;
	padding: 20px;
	margin-bottom: 10px;
}
.tab-contents .support-query {
	text-align: left;
	margin-top: 8px;
}
.tab-contents .support-query .query-contents h6 {
	font-size: 16px;
	color: #3d3d3d;
	margin: 0px 0px 10px;
}
.tab-contents .support-query .query-contents p {
	color:#3d3d3d;
	margin: 0px;
}
.tab-contents .support-query .query-contents p span {
	font-size: 14px;
	color: #ffa800;
	padding-right: 10px;
}
.tab-contents .support-query .support-icon {
	text-align: center;
}
.tab-contents .support-query .support-icon img {
	display: inline-block;
}
.support-feedback {
	text-align: right;
}
.support-feedback ul {
	margin: 0px;
}
.support-feedback ul li {
	border: 1px solid #3a3a3a;
	padding:10px;
	margin:5px;
	text-align:center;
}
.support-feedback ul li a {
	font-size: 13px;
	color: #3a3a3a;
	text-align: center;
}
.pagination-holder .pages {
	text-align: left;
}
.pagination-holder .pages .pagination {
	margin: 0px;
}
.pagination-holder .pages .pagination li a, .pagination li span {
	color: #556270;
	background-color: #fafafa;
	margin: 0px 5px;
	border-radius: 4px;
}
.pagination-holder .pages .pagination li.active a {
	color: #fff;
	background-color: #4a4a4a;
	border-color: #3a3a3a;
}
.question-butn {
	text-align:right;
}
.question-butn .btn.question-btn {
	font-size: 15px;
	color: #5e5e5e;
	border: 1px solid #ccc;
	border-radius: 0px;
	padding:10px 20px;
}

/*FOR SIGN UP BUTTONS*/
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.custonIcon{
	height: 30px;
	width: 30px
}

/*RESPONSIVE*/

@media screen and (max-width: 1366px) {
	header .header-bottom .sign-up-form {
	  padding: 3% 2%;
	}
}

@media screen and (max-width: 1365px) {
	header .header-top .mainmenu .nav.navbar-nav li {
	  padding: 0 45px;
	}
	header .header-bottom .sign-up-form {
		padding: 2%;
	}
	header .header-bottom .sign-up-form input.form-control {
		height: 30px;
	}
	header .header-bottom .sign-up-form .form-btn .btn.form-btn {
		font-size: 13px;
		padding: 8px 0;
	}
	header .header-bottom .sign-up-form .sign-up-heading h3 {
		font-size: 19px;
	}
	header .header-bottom .sign-up-form .sign-up-text {
		margin-top: 0px;
	}
	.holder .video-holder .video-contents a {
		font-size: 14px;
	}
	.holder .video-holder .video-contents {
		padding: 10px 0px 40px;
		text-align: center;
	}
	.holder .testimonial-holder .test-slider .test-contents h5 {
		line-height: 1.5;
	}

	/*SIGNIN*/
	.sign-contents {
		width: 50%;
	}
}

@media screen and (max-width: 1023px) {
	header .header-top .mainmenu .nav.navbar-nav li {
	  padding: 0 27px;
	}
	header .header-bottom .sign-up-form {
		height: auto;
		padding: 5% 10%;
		position: relative;
		width: auto;
	}
	header .header-bottom .sign-up-form .sign-up-text {
		margin-top: 20px;
	}
	header .header-bottom .sign-up-form .sign-up-heading h3 {
		font-size: 24px;
		text-align: center;
	}
	header .header-bottom .sign-up-form input.form-control {
		height: 40px;
	}
	header .header-bottom .sign-up-form .form-btn .btn.form-btn {
		font-size: 18px;
		padding: 13px 0;
	}
	header .header-bottom .sign-up-form .sign-up-text a {
		font-size: 14px;
	}
	.holder .how-holder {
		padding: 40px 0;
	}
	.holder .how-holder .how-wrapper {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: 2px solid #fff;
		padding:0 30px;
		margin-top: 20px;
	}
	.holder .how-holder .how-content h5 {
		font-size: 15px;
	}
	.holder .how-holder .how-content p {
		font-size: 14px;
	}
	.holder .video-holder {
		padding: 30px 0;
	}
	.holder .testimonial-holder {
		padding: 30px 0;
	}
	.holder .testimonial-holder .test-slider {
		padding: 40px 0;
	}
	.holder .testimonial-holder .test-slider .test-contents {
		margin-top: 30px;
	}

	/*INNER PAGE*/

	/*CONTACT*/
	.contact-holder .contact-form-contents h5 {
		font-size: 15px;
	}
	.holder .contact-holder .contact-list ul li a {
		font-size: 13px;
	}
	.contact-holder .contact-description p {
		 font-size: 13px;
	}


	/*SIGNIN*/
	.sign-contents .btn.yellow-btn {
		font-size: 14px;
		padding: 10px 20px;
	}
	.sign-contents .btn.signup-btn {
		font-size: 14px;
		padding: 10px 20px;
	}

	/*SUPPORT*/
	.query-contents {
		padding-left: 10px;
	}
	.sort-btn #dropdownMenu1 {
  		padding: 10px 15px;
	}
}
@media screen and (max-width: 767px) {
	header .header-top {
		display: none;
	}
	header .mobile-header {
	  padding: 20px 0;
	  display: block;
	}
	header .mobile-header .mobile-head-contents .mobile-menu a i, header .mobile-header .mobile-head-contents .mobile-search a i {
	  color: #000;
	  font-size: 25px;
	  padding: 2px;
	}
	header .mobile-header .mobile-head-contents .mobile-menu, header .mobile-header .mobile-head-contents .mobile-search {
		border: 1px solid #ccc;
		border-radius: 5px;
		text-align: center;
		margin-top: 10px;
	}
	header .mobile-drop-down {
	  background-color: #454545;
	  display: none;
	  padding: 20px;
	  position: absolute;
	  text-align: left;
	  width: 100%;
	  z-index: 99999;
	}
	header .mobile-drop-down ul li {
		padding: 10px 0px;
	}
	header .mobile-drop-down ul li a {
	  border-bottom: 3px solid transparent;
	  color: #fff;
	  font-size: 15px;
	  padding: 20px 0;
	  text-transform: uppercase;
	  text-decoration: none;
	}
	header .search-panel {
	  background-color: #fff;
	  display: none;
	  position: absolute;
	  width: 100%;
	  z-index: 99999;
	  text-align: center;
	  padding: 10px;
	}
	header .search-panel ul {
		margin: 0px;
	}
	header .search-panel input {
		background:#fff url(img/icons/search.png) no-repeat scroll 95% center;
		padding-right:50px;
	}
	.holder .how-holder .how-wrapper {
		border: medium none;
		margin-top: 0;
	}
	.holder .how-holder {
		padding: 20px 0;
	}
	.holder .testimonial-holder .test-slider .test-contents {
		text-align: center;
	}
	.holder .testimonial-holder .owl-nav {
	  display: block;
	}
	.holder .testimonial-holder .owl-prev {
	  background: rgba(0, 0, 0, 0) url("img/others/left-arrow.png") no-repeat scroll 0 0 !important;
	  display: inline-block;
	  height: 30px;
	  left: 10%;
	  position: absolute;
	  text-indent: -999999px;
	  top: 13%;
	  width: 17px;
	}
	.holder .testimonial-holder .owl-next {
	  background: rgba(0, 0, 0, 0) url("img/others/rightarrow.png") no-repeat scroll 0 0 !important;
	  display: inline-block;
	  height: 30px;
	  right: 10%;
	  position: absolute;
	  text-indent: -999999px;
	  top: 13%;
	  width: 17px;
	}
	.holder .testimonial-holder .test-img {
		text-align: center;
	}
	.holder .testimonial-holder .test-img img {
		display: inline-block;
		width: auto !important;
	}
	footer .footer-top .foot-appstore {
		text-align: center;
	}
	footer .footer-top .foot-list ul li a i {
		padding-right:5px;
	}
	footer .footer-top .foot-social ul li {
		padding: 3px;
	}
	footer .footer-top .foot-social {
		padding-top: 20px;
	}

	/*INNER PAGE*/
	.mobile-header {
		border-bottom: 1px solid #000;
	}

	/*ABOUT*/
	.about-holder {
		padding: 40px 0;
	}
	.about-holder .about-video-wrapper {
		padding-top: 25px;
	}
	.about-holder .about-video.text-center.shadow {
		margin-top: 30px;
	}
	/*CONTACT*/
	.contact-holder {
	  padding: 30px 0;
	}
	.contact-holder .contact-form-contents {
	  padding-top: 30px;
	}

	/*SIGNIN*/
	.social-media h5 {
		font-size: 19px;
	}
	.sign-contents {
	  margin: 20px 20px 0;
	  width: auto;
	}
	.social-list ul li {
		width: 15%;
	}

	/*SUPPORT*/
	.sort-btn {
		text-align: center;
		margin-bottom: 20px;
	}
	.tab-contents .support-query {
		text-align: center;
	}
	.tab-contents .support-query .query-contents {
		margin: 20px 0px;
	}
	.support-feedback {
		text-align: center;
	}
	.pagination-holder .pages {
		text-align: center;
		margin: 20px 0px;
	}
	.question-butn {
		text-align: center;
	}
@media screen and (max-width: 320px) {
	.mobile-header .mobile-head-contents .mobile-menu a i, .mobile-header .mobile-head-contents .mobile-search a i {
	  font-size: 19px;
	}
	.sign-contents {
		padding: 50px 20px;
	}
	.signin-forn-butn span {
		margin: 0 5px;
	}
}
