ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border: none;
	width: 100%;
}

ul.tabs li {
	float: left;
	font-size: 18px;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 31px;
	line-height: 31px;
	border: none;
	color: #696969;
	overflow: hidden;
	position: relative;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
	color: #ffa800;
}
ul.tabs li.active {
	background-color: #fff;
	color: #ffa800;
	border: none;
	display: block;
}

.tab_container {
	border: none;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px 0px;
	display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 1023px) {
	ul.tabs li {
		font-size: 15px;
	}
	.sort-btn #dropdownMenu1 {
		padding: 10px;
	}
}
@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #000;
		color: #696969;
		margin: 0 0 20px;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #000;
		color: #ffa800;
	}
}
